#Copia este archivo a .env y rellena los valores
#El .env no se versiona.


DJANGO_SECRET_KEY='cambiame-por-una-clave-generada'
DJANGO_DEBUG='True'
DJANGO_ALLOWED_HOSTS='localhost,127.0.0.1'
DJANGO_LOG_LEVEL='INFO'

DB_ENGINE='sqlite'
DB_NAME='db.sqlite3'

DB_USER='demo'
DB_PASSWORD='123456'
DB_HOST='localhost'
DB_PORT='5432'
